page-login {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

    .login-description {
        height: 40%;
        line-height: 2em;
    }

    .login-description p {
        color: #fff;
    }

    .login-button {
        -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.18);
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.18);
    }

}