<!--
  Generated template for the EventDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      My Journey
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reorderButton()">
        <ion-icon name="{{reorder_item_name}}"   ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--ion-row padding>
    <ion-col width-80>
      Journey {{currentEvent?.id}}
    </ion-col>
    <ion-col width-20 [class.profitable]="currentEvent?.revenue > 0" [class.no-profit]="currentEvent?.revenue < 0">
      {{currentEvent?.revenue}}
    </ion-col>
  </ion-row-->
  <ion-card>
    <ion-card-header>
      {{currentEvent?.name}}
    </ion-card-header>
    <!--ion-card-content>
      <p>Ticket: <strong>${{currentEvent?.price}}</strong></p>
      <p>Date: <strong>{{currentEvent?.date}}</strong></p>
    </ion-card-content-->
  </ion-card>

  <ion-card class="add-guest-form">
    <ion-card-header>
      Activity[dayplans] : {{journeyId}}
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <!--ion-list no-lines>
        <ion-item>
          <ion-label stacked>activity </ion-label>
          <ion-input [(ngModel)]="activity" type="text" placeholder="What's your activity?"></ion-input>
        </ion-item>
        <span *ngIf="guestPicture">Picture taken!</span>

        

      </ion-list-->

  <ion-list no-lines>

    <ion-item-group reorder="{{reorder_items}}" (ionItemReorder)="reorderItems($event)">

      <ion-item-sliding *ngFor="let eventDetail of eventDetailList">

        <button ion-item (click)="viewActivities(eventDetail.id,eventDetail.city)" class="home-item">
          {{eventDetail.index}}:{{eventDetail.city}}
          </button>

        <ion-item-options>

          <button ion-button icon-only color="light" (click)="editPlans(eventDetail.id)">
			        <ion-icon name="clipboard"></ion-icon> Edit
		        </button>

          <button ion-button icon-only color="danger" (click)="removePlans(eventDetail.id)">
              <ion-icon name="trash"></ion-icon> Delete
            </button>

        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>





  <ion-fab right name="add" style="z-index:100;bottom:50px">
    <button ion-fab mini (click)="openActivityPage(currentEvent.id)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>